#first-div{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    float: left;
}


#second-div{
    height: 300vh;
    width: 300vh;
    float: left;
}

  
  


 


body{
    background-image: url(assets/bg.jp.jpg);
    background-size: cover;
    
    
}
#typewriter{
    width: 690px;
    height: 550px;
    color: #9d1d1d;
    padding: 6px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 25px;
    /* box-shadow: 5px 10px #d6d5d5; */
    
    float: left;
}

    .blinking-cursor {
        margin-left: 5px;
        background-color: #fff;
        animation: blink 1s infinite;
    }

    @keyframes blink {

        0%,
        50% {
            opacity: 1;
        }

        50.1%,
        100% {
            opacity: 0;
        }
    }
